<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Complatible" content="ie=edge">
        <title>Login</title>
        <link rel="stylesheet" href="~/css/style.css">
        <style>
            body{
                margin:0;
                padding:0;
                background: #3C4147;
                font-family: Arial, Helvetica, sans-serif;
            }

            #main{
                background: #2D3238;
                width: 320px;
                padding: 10px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                box-shadow: 5px 5px 5px 0 rgba(0,0,0,0,20);
                transition: all 0.3s ease-in;
            }

            #main:hover{
                box-shadow: 8px 8px 10px 0 rgba(0,0,0,0,50);
            }

            #logincontainer,
            #registercontainer{
                padding: 30px;
            }

            .form-control{
                width: 100%;
                margin-bottom: 10px;
                box-sizing: border-box;
            }

            .inputbox{
                height: 30px;
                border: none;
                padding: 5px;
            }

            .inputbox:focus{
                outline-style: auto;
                outline-width: 3px;
                outline-color: #01A2C3;
            }

            .btn{
                width: 100%;
                height: 35px;
                border: none;
                transform: uppercase;
                cursor: pointer;
            }

            .btn-primary{
                background: #01A2C3;
                color: #fff;
            }

            #login-tab,
            #register-tab{
                padding: 10px;
                width: 50%;
                display: inline-block;
                box-sizing: border-box;
                text-align: center;
                color: #fff;
                text-transform: uppercase;
                cursor: pointer;
            }

            .active{
                background: #01A2C3;
            }

            .textcenter{
                text-align: center;
            }

            .signuptxt,
            .forgettxt{
                font-size: 12px;
                margin: 10px 0;
                color: #fff;
            }

            .link,
            .active,
            .link:visited{
                text-decoration: none;
                color: #2196F3;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <main id="main">
                <div id="loginuicontainer">
                    <div id="login-tab" class="active">Login</div><div id="register-tab">Register</div>
                    <div id="logincontainer">
                        <div class="form-group">
                            <input type="text" class="form-control inputbox" id="login-username" placeholder="Username"> 
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control inputbox" id="login-password" placeholder="Password"> 
                        </div>
                        <div class="form-group">
                            <input type="submit" id="loginButton"class="btn btn-primary" value="Login"> 
                        </div>
                        <div class="textcenter signuptxt">Dont have an account? <a href="#" class="link registerlink">Sign up</a></div>
                        <p class="textcenter forgettxt"><a href="#" class="link forgetlink">Forget password?</a></p>
                    </div>
                    <div id="registercontainer" hidden>
                        <div class="form-group">
                            <input type="text" class="form-control inputbox" id="register-email" placeholder="Email"> 
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control inputbox" id="register-username" placeholder="Username"> 
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control inputbox" id="register-password" placeholder="Password"> 
                        </div>
                        <div class="form-group">
                            <input type="submit" id="registerButton" class="btn btn-primary" value="Register"> 
                        </div>
                        <div class="textcenter signuptxt">Already have an account? <a href="#" class="link loginlink">Login</a></div>
                    </div>
                </div>
            </main>
        </div>
        <script>
            var logincontainer = document.querySelector('#logincontainer');
            var registercontainer = document.querySelector('#registercontainer');
            var registertab = document.querySelector('#register-tab');
            var logintab = document.querySelector('#login-tab');
            var loginlink = document.querySelector('.loginlink');
            var registerlink = document.querySelector('.registerlink');


            registertab.addEventListener('click', function() {
                registeractive();
            });

            logintab.addEventListener('click', function() {
                loginactive();
            });

            loginlink.addEventListener('click', function() {
                loginactive();
            });

            registerlink.addEventListener('click', function() {
                registeractive();
            });


            function loginactive() {
                logincontainer.style.display = "block";
                registercontainer.style.display = "none";
                logintab.classList.add('active');
                registertab.classList.remove('active');
            }
                
            function registeractive() {
                logincontainer.style.display = "none";
                registercontainer.style.display = "block";
                registertab.classList.add('active');
                logintab.classList.remove('active');
            }

            
            document.getElementById("registerButton").addEventListener("click", function(event) {
                var email = document.getElementById("register-email").value;
                var username = document.getElementById("register-username").value;
                var password = document.getElementById("register-password").value;

                var url = 'https://localhost:5001/api/auth/register';
                let xhr = new XMLHttpRequest();
                let json = JSON.stringify({
                  Email: email,
                  Username: username,
                  Password: password
                });
                xhr.onloadend = function() {
                  if (xhr.status == 200) {
                    loginactive();
                  } else {
                    console.log("error " + this.status);
                  }
                };
                xhr.open("POST", url)
                xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                xhr.send(json);
            });

            document.getElementById("loginButton").addEventListener("click", function(event) {
                var username = document.getElementById("login-username").value;
                var password = document.getElementById("login-password").value;

                var url = 'https://localhost:5001/api/auth/login';
                let xhr = new XMLHttpRequest();
                let json = JSON.stringify({
                  Username: username,
                  Password: password
                });
                xhr.onloadend = function() {
                  if (xhr.status == 200) {
                    console.log("success");
                  } else {
                    console.log("error " + this.status);
                  }
                };
                xhr.open("POST", url)
                xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                xhr.send(json);
            });
            
        </script>
    </body>
</html>