body{
    margin:0;
    padding:0;
    background: #3C4147;
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    background: #2D3238;
    width: 320px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0,50);
    transition: all 0.3s ease-in;
}

#main:hover{
    box-shadow: 8px 8px 10px 0 rgba(0,0,0,0,50);
}

#logincontainer,
#registercontainer{
    padding: 30px;
}

.form-control{
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.inputbox{
    height: 30px;
    border: none;
    padding: 5px;
}

.inputbox:focus{
    outline-style: auto;
    outline-width: 3px;
    outline-color: #01A2C3;
}

.btn{
    width: 100%;
    height: 35px;
    border: none;
    transform: uppercase;
    cursor: pointer;
}

.btn-primary{
    background: #01A2C3;
    color: #fff;
}