@page
<!DOCTYPE html>
<html>
<body onload="loadPage()">
<div>
    <input type="button" id="joinGroup" value="Join Private Group" />
</div>
<textarea name="message" id="message"></textarea>
<input type="button" id="sendButton" value="Send"/>
<select id="group">
    <option value="All">Everyone</option>
    <option value="Myself">Myself</option>
    <option value="PrivateGroup">Private Group</option>
</select>
<div>
</div>
<div id="messages"></div>

</body>
</html>




<script src="~/lib/signalr.js"></script>
<script src="~/js/message.js"></script>
